*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(22, 19, 19);
}
.container{

}
nav{
    background-color: #052253;
    width: 100%;
    margin: auto;
    padding: 13px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 90%;
    position: fixed;
    z-index: 100000;
}
.image1{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url(images/2.jpg);
}
.content{
    color: white;
    font-size: 50px;
    width: 20%;
    position: absolute;
    margin: 17% 0px auto 70%;
}
.content h1{
    font-size: 100px;
}
span{
    color: #e41a7b;
}
.b-logo{
    height: 2%;
    width: 2%;
    position: relative;
    left: 6%;
    transition: 1s;
    cursor: pointer;
}
.b-logo:hover{

}
.beatables{
    height: 15%;
    width: 15%;
    cursor: pointer;
    position: relative;
    right: 16.5%;
    top: 2px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    right: 20px;
}
nav a::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: #5b8be4;
    border-radius: 0px 0px 100px 100px;
    position: relative;
    top: 2px;
    transition: 250ms ease-in-out;
}
nav a:hover::after{
    width: 100%;
}
.image2{
    text-align: center;
    top: 7px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url(images/1.jpg);
    opacity: 95%;

}
.icon-content{
    position: absolute;
    height:fit-content;
    width: 44%;
    margin: 17% 30%;
}
.icon-content span{
    color: #FDDB3A;
}
#icon{
    width: 15%;
    position: relative;
    top: 10px;
    cursor: pointer;
    transition: 0.25s ease;
    opacity: 85%;
}
.image2 h3{
    color: #F4F6FF;
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;

}
#icon:hover {
    width: 16%;
    opacity: 100%;
}













